<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Aanvragen</title>
  <link rel='stylesheet' href='css/bootstrap.min.css'>
</head>
<body>
  <h1>Alle aanvragen</h1>
 <br/><br/>
  <ul class='aanvraag'>
  <% for(var i=0; i < inhaal.length; i++) {%>
    <li class='aanvraag'>
      <span><b>Naam : </b><%= inhaal[i].name %></span><br />
      <span><b>Exaam : </b><%= inhaal[i].exam %></span><br />
      <span><b>Reden : </b><%= inhaal[i].reason %></span><br />
      <span><b>Datum : </b><%= inhaal[i].date %></span><br />
    </li>
  <% } %>
  </ul>
<br />

<a href='/add'>Aanvraag indienen</a>&nbsp;

</body>
</html>
